
.search-container {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
   }
.search-container input {
    padding: 10px;
    margin: 0;
    width: 80%;
    max-width: 200px;
    border-radius: 5px;
    border: 2px solid black;
   }
   .search-icon {
    color: black;
    margin: 10px;
   }
   