.todo-container {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    background-color: #FEECE2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .todo-container>h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
  }
  
  .todo-container form {
    display: flex;
    margin-bottom: 20px;
  }
  
  .todo-container form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .todo-container form button {
    padding: 10px 20px;
    background-color: #FFBE98;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .task-list {
    list-style-type: none;
    padding: 0;
  }
  
  .task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #F7DED0;
    border-radius: 5px;
  }
  
  .task-list li button {
    background-color: #E2BFB3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bolder;
  }
  

  .task-list span {
    color: black;
    font-weight: bolder;
  }